@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: auto;
  text-rendering: optimizeSpeed;
}

.heading-1 {
  font-size: 24px;
  font-weight: 700;
}

.heading-2 {
  font-size: 20px;
  font-weight: 700;
}

.heading-3 {
  font-size: 16px;
  font-weight: 700;
}

.heading-4 {
  font-size: 14px;
  font-weight: 700;
}

.button-1 {
  font-size: 14px;
  font-weight: 700;
}

.button-2 {
  font-size: 16px;
  font-weight: 700;
}

.text-1 {
  font-size: 14px;
  font-weight: 400;
}

.text-2 {
  font-size: 12px;
  font-weight: 400;
}